/* =====================
    Document level styling
    =====================*/
body {
    font-family: 'Inconsolata', 'Courier New', monospace;
    background-color: #ececec;
    color: #333;
}

a:link, a:visited {
    color: #333;
}
a:hover {
    opacity: .7;
}

/* =====================
    Element level styling
    =====================*/

/* ---------------------
    Masthead
    ---------------------*/
#navbar {
    z-index: 150;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    padding: 0 1em 1em 1em;
    height: 100vh;
    background: #060606;
    transition: background 1s;
    color: #55C34D;
    border-bottom: 1px solid #bbb;
}
#navbar.normal {
    background: #ececec;
    color: #333;
}

#title {
    font-size: 1.4em;
    margin-bottom: 10px;
    white-space: nowrap;
}
#title{
    opacity: 0;
    transition: opacity 1s;
}
.show {
    opacity:1 !important;
}
#title a:link{
    text-decoration: none;
}
#navbar p {
    padding-right: .6rem;
    margin-top: 0;
    margin-bottom: 8px;
    white-space: nowrap;
    position: relative;
}

/*typing effect*/
#type-helper{
    padding:.1em;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    background: #060606;
    box-sizing: border-box;
    animation: type 3s steps(37,end);
    transition: background 1s;
}
#type-helper.normal{
    background: #ececec;
}
@-webkit-keyframes "type" { 
    from {width: 100%;}
    to {width: 0;}
} 
@keyframes "type" { 
    from {width: 100%;}
    to {width: 0;}
} 

/*adds blinking cursor*/
.blinking {
    display: inline-block;
    width: .4rem;
    height: 1rem;
    animation: 2s blink step-end infinite;
    position: relative;
    top: 2px;
    left: 1px;
}
@-webkit-keyframes "blink" {
    from,to {background-color: transparent;}
    50% {background-color: #333;}
}
@keyframes "blink" {
    from,to {background-color: transparent;}
    50% {background-color: #333;}
}

#navbar li{
    display: inline-block;
    list-style-type: none;
}

#navbar nav a {
    display: block;
    width: 6.25em;
    height: 2.5em;
    padding: 0 5px;
    line-height: 2.5em;
    border-bottom: 1px solid #074354;
    border-right: 1px solid #074354;
    text-decoration: none;
}

nav ul{
    margin: 0;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 1s cubic-bezier(.90, .08, 1, .14);
}

@media screen and (min-width: 33em){
    #navbar {
        flex-flow: row wrap;
        justify-content: space-between;
    }
    #navbar.sticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    .brand {
        text-align: left;
    }
    #navbar nav a {
        line-height: 2.2em;
        display:inline;
        border-right: none;
    }
    #navbar li + li:before {
        content: ' | ';
        padding: 0 1em;
    }
}

@media screen and (min-width: 50em){
    .brand {
        display:flex;
        flex-direction: rows;
        align-items: baseline;
    }
    #title-desc {
        margin-left: 1em;
    }
}


/* ---------------------
    Intro
    ---------------------*/
#intro {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #053542;
    color: #FFFFFF;
    font-family: Arial;
}
.intro1 {
    height: 39vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.intro2 {
    padding: 0 5%;
}
#intro h1 {
    margin-right: 15%;
    font-weight: 700;
}


@media screen and (min-width: 33em){
    #intro{
        flex-direction: row;
        height: 82vh;
    }
    .intro1, .intro2 {
        height: 100%;
    }
    .intro1 {
        width: calc(100% - (16em - 15%));
    }
    .intro2 {
        width: calc(16em + 15%);
        padding: 0;
        padding-right: 6%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media screen and (min-width: 50em){
    #intro{
        height: 86vh;
        width: 80%;
        margin: 0 auto;
    }
}