/* 
    Document level styling
*/

body{
    padding: 0 20px;
    font-family: 'Inconsolata', 'Courier New', monospace;
}


/*
    Module level styling
*/


/*
    Element level styling
*/

/* Nav */
nav li{
    display: inline-block;
    list-style-type: none;
}
nav li + li:before {
    content: " | ";
    padding: 0 15px;
}

nav a{
    
}