/* =====================
    Document level styling
    =====================*/
body {
    font-family: 'Inconsolata', 'Courier New', monospace;
    background-color: #02222B; /*#FEF0D6;*/
    color: #55C34D; /*#3F4D58;*/
}
p{
    margin: 0;
    padding: 0;
}
a:link, a:visited {
    color: #55C34D;
}
a:hover {
    opacity: .7;
}

/* =====================
    Module level styling
    =====================*/


/* =====================
    Element level styling
    =====================*/

/* ---------------------
    Masthead
    ---------------------*/
#navbar {
    display:flex;
    align-items: center;
    flex-flow: column wrap;
    text-align: center;
    padding: 0 1em 1em 1em;
}

#title {
    font-size: 1.4em;
    margin-bottom: 10px;
    white-space: nowrap;
}

#navbar p {
    padding-right: .6rem;
    margin-top: 0;
    margin-bottom: 8px;
    white-space: nowrap;
    position: relative;
}

/*typing effect*/
#type-helper{
    padding:.1em;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    background: #02222B;
    box-sizing: border-box;
    animation: type 3s steps(37,end);
}
@-webkit-keyframes "type" { 
    from {width: 100%;}
    to {width: 0;}
} 
@keyframes "type" { 
    from {width: 100%;}
    to {width: 0;}
} 


/*adds blinking cursor*/
.blinking {
    display: inline-block;
    width: .4rem;
    height: 1rem;
    animation: 2s blink step-end infinite;
    position: relative;
    top: 2px;
    left: 1px;
}
@-webkit-keyframes "blink" {
    from,to {background-color: transparent;}
    50% {background-color: #55C34D;}
}
@keyframes "blink" {
    from,to {background-color: transparent;}
    50% {background-color: #55C34D;}
}

#navbar li{
    display: inline-block;
    list-style-type: none;
}

#navbar a {
    display: block;
    width: 6.25em;
    height: 2.5em;
    padding: 0 5px;
    line-height: 2.5em;
    border-bottom: 1px solid #074354;
    border-right: 1px solid #074354;
    text-decoration: none;
}

/*corrects user agent styling*/
nav ul{
    margin: 0;
    margin-left: -40px;
}


@media screen and (min-width: 33em){
    #navbar {
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-end;
        align-content: flex-end;
    }
    .brand {
        text-align: left;
    }
    #navbar a {
        line-height: 2.2em;
        display:inline;
        border-right: none;
    }
    #navbar li + li:before {
        content: " | ";
        padding: 0 1em;
    }
}

@media screen and (min-width: 50em){
    .brand {
        display:flex;
        flex-direction: rows;
        align-items: baseline;
    }
    #title-desc {
        margin-left: 1em;
    }
}

/* ---------------------
    Intro
    ---------------------*/
#intro {
    height: 78vh;
    background: #053542;
    padding: 4%;
}
#intro p, #intro h1 {
    color: #FFFFFF;
}
.shape {
    shape-outside: polygon(68% 0, 100% 0, 100% 6%, 8% 100%, 0 100%, 0 66%);
    width: 100%;
    height: 100%;
    float: left;
}

@media screen and (min-width: 33em){
    #intro{
        height: 82vh;
    }

}
@media screen and (min-width: 50em){
    #intro{
        height: 86vh;
    }
}